{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "title": "zveloAPI",
    "contact": {
      "name": "zvelo",
      "url": "https://zvelo.com",
      "email": "support@zvelo.com"
    },
    "license": {
      "name": "zvelo Proprietary"
    },
    "version": "1"
  },
  "host": "api.zvelo.com",
  "basePath": "/",
  "paths": {
    "/v1/query": {
      "post": {
        "tags": [
          "API"
        ],
        "summary": "Create new query",
        "operationId": "QueryV1",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/msgQueryRequests"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/msgQueryReplies"
            }
          }
        }
      }
    },
    "/v1/query/{request_id}": {
      "get": {
        "tags": [
          "API"
        ],
        "summary": "Results of active or unexpired query",
        "operationId": "QueryResultV1",
        "parameters": [
          {
            "type": "string",
            "name": "request_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/msgQueryResult"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DataSetCategorization": {
      "type": "object",
      "title": "Categorization",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "DataSetEcho": {
      "type": "object",
      "title": "Echo",
      "properties": {
        "url": {
          "type": "string"
        }
      }
    },
    "DataSetMalicious": {
      "type": "object",
      "title": "Malicious",
      "properties": {
        "category": {
          "type": "integer",
          "format": "int64"
        },
        "verdict": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "QueryRequestsURLContent": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "title": "the actual content to process. required"
        },
        "header": {
          "description": "header key/value pairs",
          "type": "object",
          "title": "headers",
          "additionalProperties": {
            "type": "string"
          }
        },
        "url": {
          "type": "string",
          "title": "url the content came from, not required"
        }
      }
    },
    "msgDataSet": {
      "type": "object",
      "title": "DataSet",
      "properties": {
        "categorization": {
          "$ref": "#/definitions/DataSetCategorization"
        },
        "echo": {
          "$ref": "#/definitions/DataSetEcho"
        },
        "malicious": {
          "$ref": "#/definitions/DataSetMalicious"
        }
      }
    },
    "msgQueryReplies": {
      "type": "object",
      "title": "QueryReplies",
      "properties": {
        "reply": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/msgQueryReply"
          }
        }
      }
    },
    "msgQueryReply": {
      "type": "object",
      "title": "QueryReply",
      "properties": {
        "error": {
          "$ref": "#/definitions/rpcStatus"
        },
        "request_id": {
          "type": "string",
          "title": "will identify the request after submission"
        }
      }
    },
    "msgQueryRequests": {
      "type": "object",
      "title": "QueryRequests",
      "properties": {
        "callback": {
          "type": "string",
          "title": "The callback url will receive the final result"
        },
        "content": {
          "type": "array",
          "title": "The content to categorize",
          "items": {
            "$ref": "#/definitions/QueryRequestsURLContent"
          }
        },
        "dataset": {
          "type": "array",
          "title": "The datasets to query for each URL",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "url": {
          "type": "array",
          "title": "The URLs to categorize",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "msgQueryResult": {
      "type": "object",
      "title": "QueryResult",
      "properties": {
        "query_status": {
          "$ref": "#/definitions/msgQueryStatus"
        },
        "request_dataset": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "response_dataset": {
          "$ref": "#/definitions/msgDataSet"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "msgQueryStatus": {
      "type": "object",
      "title": "QueryStatus",
      "properties": {
        "complete": {
          "type": "boolean",
          "format": "boolean"
        },
        "error": {
          "$ref": "#/definitions/rpcStatus"
        },
        "fetch_code": {
          "type": "integer",
          "format": "int32",
          "title": "the http status code received from the server when fetching a url"
        },
        "location": {
          "type": "string",
          "title": "fetching the url resulted in a redirect to this location"
        }
      }
    },
    "protobufAny": {
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := ptypes.MarshalAny(foo)\n     ...\n     foo := \u0026pb.Foo{}\n     if err := ptypes.UnmarshalAny(any, foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }",
      "type": "object",
      "properties": {
        "type_url": {
          "description": "A URL/resource name whose content describes the type of the\nserialized protocol buffer message.\n\nFor URLs which use the scheme `http`, `https`, or no scheme, the\nfollowing restrictions and interpretations apply:\n\n* If no scheme is provided, `https` is assumed.\n* The last segment of the URL's path must represent the fully\n  qualified name of the type (as in `path/google.protobuf.Duration`).\n  The name should be in a canonical form (e.g., leading \".\" is\n  not accepted).\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics.",
          "type": "string"
        },
        "value": {
          "description": "Must be a valid serialized protocol buffer of the above specified type.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "rpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\n[google.rpc.Code][google.rpc.Code], but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` which can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting purpose.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
      "type": "object",
      "title": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\n[google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.",
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "authorization": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://auth.zvelo.com/oauth2/auth",
      "tokenUrl": "https://auth.zvelo.com/oauth2/token",
      "scopes": {
        "zvelo.dataset": "Access zvelo Datasets"
      }
    }
  }
}